@import '@styles/var';

.select {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    opacity: 0;
}
.selectArrow {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: rotate(180deg);
    margin-top: -8px;
    transition: ease .3s;
    transition-property: transform, margin-top;
}
.select:focus + .selectArrow {
    transform: rotate(0deg);
    margin-top: -12px;
}

.input {
    display: block;
    position: relative;
    background-color: $white;
}
.xsmallInput {
    border-radius: $input-border-radius-xsmall;
}
.smallInput {
    border-radius: $input-border-radius-small;
}
.normalInput {
    border-radius: $input-border-radius;
}
.inputField {
    font-family: $font-roboto;
    resize: none;
    display: block;
    width: 100%;
    position: relative;
    z-index: 10;
    color: $black;
    border: 1px solid $light-gray;
    transition: ease .3s border-color;
    background: rgba(0, 0, 0, 0);
}
textarea.inputField {
    padding-top: 15px;
    line-height: 1.4em;
}
.inputField:hover,
.inputField:focus {
    outline: none;
    border-color: $gray;
}
.inputField::placeholder {
    color: $gray;
    opacity: 1;
}
.inputField:not(:placeholder-shown) + .requiredMark {
    display: none;
}
.inputError {
    border-color: $red;
}
.requiredMark {
    position: absolute;
    left: 0;
    top: 0;
    background: $white;
    color: transparent;
}
.select ~ .requiredMark {
    color: $gray;
}
.selectWithValue ~ .requiredMark {
    display: none;
}
.requiredMark span {
    color: $red;
}
.label {
    font-size: 14px;
}
input.normal, select.normal {
    height: $input-size;
    line-height: $input-size;
}
input.small, select.small {
    height: $input-small;
    line-height: $input-small;
}
input.xsmall, select.xsmall {
    height: $input-xsmall;
    line-height: $input-xsmall;
}
.normal {
    border-radius: $input-border-radius;
    padding: $input-padding;
    font-size: $input-font-size;
}
.small {
    border-radius: $input-border-radius-small;
    padding: $input-padding-small;
    font-size: $input-font-small;
}
.xsmall {
    border-radius: $input-border-radius-xsmall;
    padding: $input-padding-xsmall;
    font-size: $input-font-xsmall;
}

.toggleShowPassword {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 12;
    cursor: pointer;
    color: $gray;
}
.errorMessage {
    font-size: 10px;
    color: $red;
}