@import '@styles/fonts';
@import '@styles/var';
@import '@styles/mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}
::-ms-reveal {
    display: none;
}
body {
  min-width: 1000px;
  margin: 0;
  color: #000;
  font-family: $font-roboto;
  font-size: 18px;
}
.container {
  max-width: 1700px;
  min-width: 940px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}
.popup_header {
  font-size: 22px;
  line-height: 28px;
  color: #2C2C2C;
}
.title {
  font-family: $font-ubuntu;
  font-size: 40px;
  font-weight: bold;
  color: #144854;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 30px;
  margin: 0;

  &_noline:after {
    display: none;
  }

  &_white {
    color: $white;
  }
}
.title:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 372px;
  height: 1px;
  background-color: $black;
  content: '';
}
.subtitle {
  font-family: $font-roboto;
  font-size: 22px;
  color: #444;
  text-transform: none;
  font-weight: 400;
}
.cart {
  background-image: url('/images/cart_bg.jpg');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 50vw;

  &_layout {
    display: flex;
    align-items: flex-start;
  }
  &_submit {
    margin-right: 60px;
    width: 400px;
    flex-shrink: 0;
    flex-grow: 0;

    @include screenLess(1280px) {
      width: 300px;
    }
  }
  &_details {
    flex-grow: 1;
  }
  &_summary {
    margin-bottom: 10px;
  }
}
