$font-ubuntu: 'Ubuntu', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$primary-color: #144854;
$primary-light: #436D76;
$secondary-color: #E87258;
$white: #fff;
$black: #000;
$xlight-gray: #F8F8F8;
$light-gray: #CFCFCF;
$gray: #848484;
$dark-gray: #050b14;
$red: #F44336;
$nav-link: #2c2c2c;

$icon-gradient: linear-gradient(206.41deg, #1E6D78 43.91%, #7CADB2 131.93%);

$button-bg: $primary-color;
$button-bg-hover: $secondary-color;
$button-bg-disabled: #848484;
$button-large: 56px;
$button-border-radius: 15px;

$checkbox-size: 28px;
$checkbox-border-radius: 6px;

$checkbox-size-small: 18px;
$checkbox-border-radius-small: 4px;

$input-font-size: 18px;
$input-padding: 0 16px;
$input-border-radius: 15px;
$input-size: 52px;

$input-font-small: 18px;
$input-padding-small: 0 8px;
$input-border-radius-small: 10px;
$input-small: 40px;

$input-font-xsmall: 14px;
$input-padding-xsmall: 0 8px;
$input-border-radius-xsmall: 10px;
$input-xsmall: 28px;