@import '@styles/var';

.orderSummary {
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    font-size: 18px;
    color: $dark-gray;
}
.label {
    color: $gray;
}
.expand {
    width: 28px;
    height: 28px;
    background: $primary-color;
    color: $white;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
}